

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Rebranded Brand Mark -->
        <div class="footer-logo">
          INFO<span>HUB</span>
        </div>
        
        <ul class="social-icons">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
      
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>
            Copyright &copy; 2026 <strong>INFOHUB</strong>. All Rights Reserved.
            <br>
            Powered by <a href="/">InfoHub Engine</a> | Based on <a rel="nofollow" href="https://github.com/Semmyinc/infohub" target="_blank">SemmyInc</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
