{% extends 'includes/base.html' %}

{% block content %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="card text-center mx-auto" style="width: 600px;">
            <br>
            <h3 class="card-title">Create Story</h3>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                        <div class="col">{{form.name}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">{{form.summary}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">{{form.body}}</div>
                    </div>
                    <div class="row mb-3 mx-auto" >
                        <label for="">Category</label>
                        <div class="col">{{form.category}} &nbsp; <a href="{% url 'add_category' %}"><i class="fas fa-plus"></i></a></div>
                    </div>
                    
                    <div class="row mb-3 mx-auto" >
                        <div class="col">
                            <label for="">Status</label>
                            <span>{{form.status}}</span>
                        </div>
                        <div class="col">
                            <label for="">Featured</label>
                            <span>{{form.is_featured}}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">{{form.image}}</div>
                        <div class="col">{{form.image_pg}}</div>
                        
                    </div>
                    <button class="btn btn-small btn-secondary mt-3">Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}