{% extends 'includes/base.html' %}

{% block content %}

<!-- ***** preloader start ***** -->

<!-- ***** preloader end ***** -->

<!-- page content -->
<!-- banner starts here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>post details</h4>
                        <h2>single blog post</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- banner ends here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{blog.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{blog.category}}</span>
                                    <a href="post-details.html"><h4>{{blog.title}}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">{{blog.author.username}}</a></li>
                                        <li><a href="#">{{blog.created_at | timesince }} ago</a></li>
                                        {% if blog.comments.count <= 1 %}
                                            <li><a href="#">{{blog.comments.count}} comment</a></li>
                                        {% else %}
                                            <li><a href="#">{{blog.comments.count}} comments</a></li>
                                        {% endif %}
                                    </ul>
                                    <p>{{blog.body}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">best templates</a>,</li>
                                                    <li><a href="#">templatemo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            {% include 'includes/sidebar.html' %}
          </div>
        </div>
    </div>
</section>




{% endblock %}

