{% extends 'includes/base.html' %}

{% block content %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Category Posts</h4>
                <h2>Our Blog Entries Based on Categories</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% if category_posts %}
                    {% for post in category_posts %}
                        <div class="col-lg-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                            <img src="{{post.image_pg.url}}" alt="">
                            </div>
                            <div class="down-content">
                            <span>{{post.category}}</span>
                            <a href="{% url 'story' post.slug %}"><h4>{{post.name}}</h4></a>
                            <ul class="post-info">
                                <li><a href="#">{{post.author.username}}</a></li>
                                <li><a href="#">{{post.created_at | timesince}} ago</a></li>
                                <li><a href="#">12 Comments</a></li>
                            </ul>
                            <p>{{post.summary | slice:':100'}}</p>
                            <div class="post-options">
                                <div class="row">
                                <div class="col-lg-12">
                                    <ul class="post-tags">
                                    <li><i class="fa fa-tags"></i></li>
                                    <li><a href="#">Best Templates</a>,</li>
                                    <li><a href="#">TemplateMo</a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}

                
                <div class="col-lg-12">
                  <ul class="page-numbers">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {% include 'includes/sidebar.html' %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}