
{% extends 'includes/base.html' %}
  
{% block content %}

<!-- {% load static %} -->
    <!-- ***** Preloader Start ***** -->
    <!-- Banner Section Upgrade -->
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      {% if featured_stories %}
        {% for story in featured_stories %}
          <div class="item">
            <div class="overlay-gradient"></div>
            <img src="{{story.featured_image.url}}" class="banner-img" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span class="category-badge">{{story.category}}</span>
                </div>
                <a href="{% url 'story' story.slug %}"><h4 class="banner-title">{{story.name}}</h4></a>
                <ul class="post-info-custom">
                  <li><i class="far fa-user"></i> {{story.author}}</li>
                  <li><i class="far fa-calendar"></i> {{story.created_at | timesince }} ago</li>                     
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}               
    </div>
  </div>
</div>

<!-- Blog Post Section Upgrade -->
<section class="blog-posts mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          {% if stories %}
            {% for story in stories %}
              <div class="modern-blog-card mb-5">
                <div class="blog-thumb">
                  <img src="{{story.image.url}}" class="img-fluid" alt="{{story.name}}">
                  <span class="card-category">{{story.category}}</span>
                </div>
                <div class="down-content p-4">
                  <a href="{% url 'story' story.slug %}"><h3>{{story.name}}</h3></a>
                  <ul class="post-info mb-3">
                    <li><a href="#">{{story.author.username}}</a></li>
                    <li><a href="#">{{story.created_at | timesince}} ago</a></li>
                    {% if story.comments.count <= 1 %}
                      <li><a href="#"><i class="far fa-comments"></i>{{story.comments.count}} comment</a></li>
                    {% else %}
                      <li><a href="#"><i class="far fa-comments"></i>&nbsp;&nbsp;{{story.comments.count}} comments</a></li>
                    {% endif %}

                    {% if request.user == story.author %}
                      <li class="admin-actions">
                        <a href="{% url 'edit_story' story.slug %}" class="text-primary mx-2"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete_story' story.slug %}" class="text-danger"><i class="fas fa-trash"></i></a>
                      </li>
                    {% endif %}
                  </ul>
                  <p class="post-excerpt">{{story.body | slice:':150'}}...</p>
                  <hr>
                  <div class="post-options">
                    <div class="row align-items-center">
                      <div class="col-md-8">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          <li>More <a href="{% url 'stories' %}">stories</a> here</li>
                        </ul>
                      </div>
                      <div class="col-md-4 text-md-end">
                        <a href="{% url 'story' story.slug %}" class="read-more-btn">Read more...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
          <div class="pagination">
          <span class="step-links">
            {% if stories.has_previous %}
              <a href="?page=1">First</a>
              <a href="?page={{stories.previous_page_number}}">Prev</a>
            {% endif %}
            
            <span class="current">{{stories.number}} / {{stories.paginator.num_pages}}</span>

            {% if stories.has_next %}
              <a href="?page={{stories.next_page_number}}">Next</a>
              <a href="?page={{stories.paginator.num_pages}}">Last</a>
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}
      <div class="col-lg-4">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}





                  