{% extends 'includes/base.html' %}

{% block content %}
    <div class="container">
        <br><br><br><br><br>
        <div class="card text-center mx-auto">
            <h3 class="card-header">Dashboard</h3>
            <div class="row">
                <div class="col-3 bg-light my-3">
                    {% include 'includes/dashboard_sidebar.html' %}
                </div>
                <div class="col-9 py-3">
                    <div class="row mx-auto">
                        <div class="col">
                            <div class="card">
                                <h6 class="card-header">All Categories</h6>
                                <div class="py-2 mb-2">{{category_count}}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <h6 class="card-header">All Stories</h6>
                                <div class="py-2 mb-2">{{story_count}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
                                                        
<<table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" align="right">Product</th>
                                            <!-- <th scope="col">Product Name</th> -->
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                                <tr>
                                                    <td scope="row g-0">
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>


