{% extends 'includes/base.html' %}

{% block content %}
    <div class="container">
        <br><br><br><br><br>
        <div class="article mx-auto text-center" style="width: 300px;">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col card-title text-center">Reset Password Form</div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>  
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control">
                    </div>  
                </div>
           
                <button type="submit" class="btn btn-small btn-secondary">Submit</button>
            </form>

        </div>
    </div>
{% endblock %}